// button
$button: ".all-button a";
$heading: ".site-header";
$spacing: ".padding-spacing";
$bt: ".bt";
$bb: ".bb";
$bg: ".bg";


#{$button}{
    background: $blue;
    padding: 14px 19px !important;
    color: $white;
    text-transform: capitalize;
    border-radius: 4px;
    text-decoration: none;
    font-weight: normal;
    transition: all .6s ease-in-out;
    &:hover{
        background: $blue-hover;
    }
}


#{$heading}{
    margin: 0 13rem;
    margin-bottom: 1.5rem;
    text-align: center;
    h2{
        // text-transform: capitalize;
        font-weight: 600;
    }
    p{
        margin-top: 0px;
        margin-bottom: 0;
        font-size: 17px;
    }
}

#{$spacing}{
    padding:42px 0
}

#{$bt}{
    border-top: 1px solid rgba(0,0,0,.12);
}

#{$bb}{
    border-bottom: 1px solid rgba(0,0,0,.12);
}

#{$bg}{
    background-color: #DEEAF2
}