$white: #fff;

$black: #4a4a4a;
$paragraph: #64697a;

$orange: #ff7f00;

$blue: #163d66;
$blue-hover: #2b3d7a;

$bg-color: #deeaf2;

// font-family
$font-common: "Heebo", sans-serif;
// $font-heading:
$font-heading: "Barlow", sans-serif;

